Client-WS/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="banqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversioneutotoDh">
<part name="parameters" element="tns:conversioneutotoDh"/>
</message>
<message name="conversioneutotoDhResponse">
<part name="parameters" element="tns:conversioneutotoDhResponse"/>
</message>
<message name="getcompte">
<part name="parameters" element="tns:getcompte"/>
</message>
<message name="getcompteResponse">
<part name="parameters" element="tns:getcompteResponse"/>
</message>
<message name="listcompte">
<part name="parameters" element="tns:listcompte"/>
</message>
<message name="listcompteResponse">
<part name="parameters" element="tns:listcompteResponse"/>
</message>
<portType name="BanqueServer">
<operation name="conversioneutotoDh">
<input wsam:Action="http://WS/BanqueServer/conversioneutotoDhRequest" message="tns:conversioneutotoDh"/>
<output wsam:Action="http://WS/BanqueServer/conversioneutotoDhResponse" message="tns:conversioneutotoDhResponse"/>
</operation>
<operation name="getcompte">
<input wsam:Action="http://WS/BanqueServer/getcompteRequest" message="tns:getcompte"/>
<output wsam:Action="http://WS/BanqueServer/getcompteResponse" message="tns:getcompteResponse"/>
</operation>
<operation name="listcompte">
<input wsam:Action="http://WS/BanqueServer/listcompteRequest" message="tns:listcompte"/>
<output wsam:Action="http://WS/BanqueServer/listcompteResponse" message="tns:listcompteResponse"/>
</operation>
</portType>
<binding name="BanqueServerPortBinding" type="tns:BanqueServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversioneutotoDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="banqueWS">
<port name="BanqueServerPort" binding="tns:BanqueServerPortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>